Test/Bin/*
Test/TestResults/*
Bin/*
*.user
*.sdf
*.opensdf
*.suo
*.ptx
Falcor.VC.db
FalcorTest/TestResults/*
Falcor.VC.VC.opendb
Framework/Externals/NVAPI/
.vs/*
Test/OutputTestingHtml.pyc
Test/TestingUtil.pyc
Test/RunAllTests.pyc
